In [5]:
# integers
x = 1
print(type(x))
#x

<class 'int'>

In [7]:
a = 3.5
type(a)

float

In [13]:
x = 1 + 2j
y = 1 - 2j
x * y

(5+0j)

In [6]:
print()

In [9]:
var = 'A' + 'B'
type(var)

str

In [10]:
int1 = 5
int2 = int('7')
print (int1 + int2)

12

In [14]:
x + y

(2+0j)

In [15]:
type (x)

complex

In [16]:
real = x.conjugate

In [17]:
print real

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(real)? (<ipython-input-17-63bc4d10b513>, line 1)

In [18]:
print(real)

<built-in method conjugate of complex object at 0x0000000004E547D0>

In [19]:
real = x.real
imag = x.imag

real + imag

3.0

In [20]:
type (real + imag)

float

In [21]:
str1 = 'Puskar'

In [22]:
str2 = "I'm reading"

In [23]:
print (str2)

I'm reading

In [24]:
print (str1.capitalize)

<built-in method capitalize of str object at 0x0000000004E96650>

In [26]:
str1.capitalize

In [28]:
print (str1.isalnum)

<built-in method isalnum of str object at 0x0000000004E96650>

In [29]:
str1 isalnum

SyntaxError: invalid syntax (<ipython-input-29-b0b4c2d6654b>, line 1)

In [32]:
val = str1.isalpha()

In [33]:
print(val)

True

In [34]:
str1.isalpha

In [37]:
"I'm " + "ABC"

"I'm ABC"

In [39]:
i = 10
if i < 3:
    print ('less than 3')
elif i < 5:
    print ('less than 5')
elif i < 7:
    print('less than 7')
else:
    print('more than 7')

more than 7

In [42]:
l = list([1,'ab',5])

In [43]:
l

[1, 'ab', 5]

In [44]:
l[::-1]

[5, 'ab', 1]

In [48]:
list1 = list('abcdefghi')
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [50]:
for var in ['a','b','c']:
    print (var)
else:
    print ('the end !!')

a
b
c
the end !!

In [55]:
int1 = 0
str1 = 0
for var in ['1','a','c','5','7','8','qw','rw']:
    if var.isnumeric():
        print('numeric value is',var)
        int1 = int1 + 1
    else:
        print('string value is ',var)
        str1 = str1 + 1
else:
    print('no more entry')

print ('Total number of numberic values',int1)
print ('Total number of string values',str1)

numeric value is 1
string value is  a
string value is  c
numeric value is 5
numeric value is 7
numeric value is 8
string value is  qw
string value is  rw
no more entry
Total number of numberic values 4
Total number of string values 4

In [58]:
k=100
q=str(k)
print (q)

100

In [59]:
type(q)

str

In [78]:
n = 10
i = 0
sum = [0,]
#store = []
while i < n :
    if i == 0:
       # sum.append(1)
        sum[i] = 1
        i=i+1
    elif i == 1:
        sum.append(1)
        i=i+1
    else:
        sum.append(sum[i-1] + sum[i-2])
        i=i+1
print (sum)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [79]:
sum.count(1)

2

In [92]:
#Reverse list and reverse string in the list

list2 = ['abc','def','efgh']
finallist = []

var2 = ''
for var in list2[::-1] :
    list3 = var
    for var1 in list3[::-1] :
        var2 = var2 + var1
    else:
        
        #list4.append(var1)
        finallist.append(var2)
        var2 = ''


print (finallist)

['hgfe', 'fed', 'cba']